<a href="https://colab.research.google.com/github/Kerubin26/CCINCOML_EXERCISES/blob/main/exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [27]:
months =["January", "Febuary", "March", "April", "May","June", "July", "August", "September", "October", "November", "December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [28]:
print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [29]:
months[8:]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [30]:
months[:4]

['January', 'Febuary', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [31]:
# put your answer here
len(months)

12

- Get the element with the largest value of the month list using `max()`

In [32]:
# put your answer here
max(months)

'September'

- Get the element with the smallest value of the month list using `min()`

In [33]:
# put your answer here
min(months)

'April'

- Sort the months of the year by alphabetical order using the `sorted()` function

In [34]:
# put your answer here
sorted(months)

['April',
 'August',
 'December',
 'Febuary',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [35]:
# put your answer here
birthday = (9, 26, 2002)
month,day,year = birthday

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [36]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [37]:
# put your answer here
myset = set(products)
myset

{'headphones',
 'keyboard',
 'laptop',
 'monitor',
 'mouse',
 'powerbank',
 'printer',
 'projector',
 'smartphone',
 'speakers',
 'tablet'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [38]:
# put your answer here
"headphones" in myset

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [58]:
# put your answer here
myfavorites = { "Food": "Burger",
               "Color": "Red",
               "Sport" : "Badminton",
               "Drink": "Chocolate Drink",
               "Dessert": "Cake",
}
print(myfavorites)

{'Food': 'Burger', 'Color': 'Red', 'Sport': 'Badminton', 'Drink': 'Chocolate Drink', 'Dessert': 'Cake'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [40]:
# put your answer here

for i in months:
  print(i)

January
Febuary
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [59]:
# put your answer here
for i in months:
  if i.find("ber") > 0:
    print(i)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [55]:
# put your answer here
for i in months:
  if i.find("ber") < 0:
    print(i)

January
Febuary
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [68]:
# put your answer here
firstname ="Chervin Paul"
for _ in range(5):
  print(firstname)

Chervin Paul
Chervin Paul
Chervin Paul
Chervin Paul
Chervin Paul

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [75]:
# put your answer here
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

for name in names:
  username = name.lower().replace(" ", "_")
  usernames.append(username)

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [79]:
# put your answer here

counter = 0
while counter < 12:
  print(months[counter])
  counter = counter + 1
  if months[counter].find("ber") > 0:
    break

January
Febuary
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [81]:
# put your answer here
def population_density(population, land_area):
    return population/land_area

In [82]:
population_density(500, 100)

5.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [77]:
#Define the averagesteps function
def averagesteps(steps_list):
  total_steps = sum(steps_list)
  num_days = len(steps_list)
  return total_steps / num_days

steps_per_day =[5000, 6000, 7000, 8000, 9000, 10000,11000]
average = averagesteps(steps_per_day)
print("Average steps per day:", average)

Average steps per day: 8000.0